.dark-button {
    width: 230px;
    height: 60px;
    border: 1px solid #3A506B;
    background: #3A506B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins';
    cursor: pointer;
    & a {
        letter-spacing: 2px;
        color: #EFF1F3;
        text-transform: uppercase;
        text-decoration: none; 
        transition: all 0.2s ease-in-out;    
    }
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: inset 0 0 0 2em #EFF1F3;
        & a {
            color: #3A506B;
        }
    }
}



.light-button {
    width: 230px;
    height: 60px;
    background-color: #eff1f3;
    border: 1px solid #3A506B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins';
    cursor: pointer;
    & a {
        letter-spacing: 2px;
        color: #3A506B;
        text-transform: uppercase;
        text-decoration: none; 
        transition: all 0.2s ease-in-out;    
    }
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: inset 0 0 0 2em #3A506B;
        & a {
            color: #EFF1F3;
        }
    }
}

.content-container {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 800px;
    max-width: 793px;
    padding: 10px;

    // background-color: #EFF1F3;
    & h1 {
        font-family: 'Quicksand';
        font-size: 36px;
        margin: 0;
        color: #3F7098;
        text-shadow: 0px 0px rgba(41,47,54,0.25);
        max-width: 401px;
    }
    & h2 {
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 950;
        margin: 0;
        color: #292F36;
        max-width: 401px;
        text-align: right;
        text-transform: uppercase;
    }
    & p {
        font-family: 'Poppins';
        font-size: 21px;
        font-weight: 400;
        margin: 0;
        color: #292F36;
        & em {
            font-weight: bold;
            color: #3F7098;
            font-style: normal;
        }
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    user-select: none;
    margin-bottom: 120px;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    & > a:hover {
        border-bottom: 2px solid #3F7098;
    }
    & > a {
        margin-left: 14px;
        margin-right: 14px;
        border-bottom: 2px solid transparent;
    }
    & path {
        transition: all .2s ease-in-out;
        transform: scale(1.5);
    }
}

.title-container {
    margin-bottom: 36px;
    user-select: none;
}

.text-container {
    margin-bottom: 103px;
}

@media only screen and (max-width: 500px) {
    .dark-button, .light-button {
        font-size: 1em;
    }
    .text-container {
        margin-bottom: 60px;
    }
    .button-container {
        & > :nth-child(1) {
            margin-right: 15px;
            text-align: center;
        }
        & > :nth-child(2) {
            margin-left: 15px;
            text-align: center;
        }
        margin-bottom: 80px;
    }
    .content-container {
        & h1 {
            font-size: 24px;
        }
        & p {
            font-size: 16px;
        }
    }
}