.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 790px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-container-reversed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.row-container-reversed > div,
.row-container > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.col-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 1em;
  left: 5em;
}

.pattern-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pattern-container-reversed {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contacts-pattern {
  margin-top: 7em;
  margin-bottom: 2em;
  position: relative;
  max-width: 790px;
}

.mail-link {
  position: absolute;
  left: 43%;
  top: 9em;
}

.linkedIn-link {
  position: absolute;
  left: 56%;
  top: 4em;
}

.github-link {
  position: absolute;
  left: 43%;
  top: -2.5em;
}

@media only screen and (max-width: 850px) {
  .github-link,
  .linkedIn-link,
  .mail-link {
    position: relative;
    left: auto;
    top: auto;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  
  .logo-container {
    left: 3.5em;
  }

  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 360px;
  }

  .container,
  .contacts-pattern {
    max-width: 360px;
  }

  .contacts-pattern {
    margin-top: 2em;
  }

  .contacts-svg {
    display: none;
  }

  .pattern-container,
  .pattern-container-reversed,
  .hero-pattern-container {
    justify-content: center;
    margin-bottom: 5em;
  }
}
