.container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #3A506B;
    user-select: none;
    
    & > a {
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        height: 100%;
        font-weight: normal;
        text-decoration: none;
        color: #EFF1F3;
        cursor: pointer;
    }
    & > a:hover .underline {
        opacity: 1;
    }
    & :last-child {
        margin-right: 60px;
    }
}

.underline {
    position: absolute;
    top: 56px;
    content: '';
    width: 120px;
    height: 4px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    display: block;
    background-color: transparent;
    background-color: #EE6352;
}

.active-link > .underline {
    height: 4px;
    opacity: 1;
}

@media only screen and (max-width: 500px) {
    .container {
        justify-content: center;
        & :last-child {
            margin-right: 0;
        }
    }
}