.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2C2C2C;
  text-align: left;
  min-height: 87vh;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;


  .title {
    margin-bottom: 4em;
    width: 100%;
    display: flex;
    gap: 3em;
    align-items: center;
    img {
      height: 100px;
      border-radius: 12px;
    }
    h1 {
      font-weight: 700;
      font-size: clamp(43px, 4vw, 52px);
      letter-spacing: 0.06em;
      color: $hero-text-color;
      user-select: none;
    }
  }

  .description {
    margin-bottom: 1.5em;
    p {
      opacity: 0.8;
      font-size: 1em;
      line-height: 2.5em;
      letter-spacing: 0.02em;
      color: $hero-text-color;
    }
  }

  .social-links {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2em;
    opacity: 0.8;
    font-size: 1.1em;
    line-height: 2.5em;
    letter-spacing: 0.02em;
    gap: 1.2em;
  }

  .waves {
    position: absolute;
    bottom: -10px;
    width: 100vw;
    svg {
      width: 100%;
      z-index: -3;
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero-container {
    padding-left: 15px;
    padding-right: 15px;
    .title {
      margin-bottom: 3em;
      text-align: left;
      img {
        display: none;
      }
    }
    .description {
      text-align: left;
      font-size: 1em;
      margin-bottom: 2em;
      p {
        line-height: 2em;
      }
    }
  }
}
