* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: $highlight-text;
}
body {
  overflow-x: hidden;
}

.hero-container {
  position: relative;
  min-height: 80vh;
  background: $bg-1;
  background: -webkit-linear-gradient(to right, $bg-1, $bg-2);
  background: linear-gradient(to right, $bg-1, $bg-2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;

  .waves {
    position: absolute;
    bottom: -5px;
    width: 100vw;
    svg {
      width: 100%;
      z-index: -3;
    }
  }

  .title {
    margin-bottom: 4em;
    width: 100%;
    h1 {
      font-family: 'Inter';
      font-weight: 700;
      font-size: clamp(35px, 6vw, 60px);
      letter-spacing: 0.06em;
      color: $hero-font-color;
      user-select: none;
    }
  }

  .description {
    margin-bottom: 3.5em;
    p {
      opacity: 0.8;
      max-width: 700px;
      font-family: 'Poppins', sans-serif;
      font-size: 1.1em;
      line-height: 2.5em;
      letter-spacing: 0.02em;
      color: $hero-font-color;
      a {
        color: var(--color-link);
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 2em;
    & > div {
      margin-left: 15px;
      margin-right: 15px;
      a {
        display: inline-block;
        padding: 0.5em 17px;
        position: relative;
        letter-spacing: 1px;
        text-decoration: none;
        &:active svg,
        &:hover svg {
          transform: scale(1.75) translateY(-10px);
        }
        svg {
          z-index: 9999;
          transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          fill: $hero-font-color;
        }
      }
    }
  }
  .cta-container {
    width: 100%;
    .cta {
      z-index: 99;
      text-decoration: none;
      font-family: 'Poppins';
      font-size: 1em;
      font-weight: 600;
      display: inline-block;
      padding: 0.65rem 1.25rem;
      border-radius: 5px;
      background-color: $bg-color;
      color: #2b5876c9;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        -webkit-box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.56);
        box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.56);
        color: #2b5876;
      }
    }
  }
}

.social-links a:hover::before,
.social-links a:active::before {
  transform: scale(1);
}

.social-links a::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -10px;
  width: 64px;
  height: 64px;
  background: linear-gradient(120deg, #c98686, #9684a1, #e26d5c, #b388eb);
  background-size: 1600% 1600%;
  -webkit-box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.56);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 0;
  transform: scale(0);
  transition: 0.25s linear;
  animation: blob-radius 5s ease infinite, blob-background 15s ease infinite;
}

/* Keyframes */
@keyframes blob-radius {
  0%,
  100% {
    border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
  }
  20% {
    border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
  }
  40% {
    border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
  }
  60% {
    border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
  }
  80% {
    border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
  }
}
@keyframes blob-background {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@media only screen and (max-width: 500px) {
  .hero-container {
    .title {
      margin-bottom: 2em;
      text-align: left;
    }
    .description {
      text-align: left;
    }
  }
}
