// font families
$code-font: 'Fira Code', monospace;
$header-font: 'Roboto', sans-serif;
$title-font: 'Fira Sans', sans-serif;

// colors
$bg-color: #49a078;
$code-block-bg: #0b131d;
$normal-text: #dddddd;
$code-text: #bababa;
$highlight-text: #ffc857;
$font-color: #0b131d;
$link-color: #3d3d9b;

// dimensions
$header-height: 38px;

// dark
$dark-color: #0b131d;
$light-color: #f6f6f6;
$link-color: #3d3d9b;
$link-dark-color: #086bff;
