// font families
$code-font: 'Fira Code', monospace;
$header-font: 'Roboto', sans-serif;
$title-font: 'Fira Sans', sans-serif;

// colors
$bg-color: #49a078;
$code-block-bg: #0b131d;
$normal-text: #dddddd;
$code-text: #bababa;
$highlight-text: #ffc857;
$font-color: #161f38;

// dimensions
$header-height: 38px;
