// brighter version
// $bg-1: #2b5876;
// $bg-2: #4e4376;

$bg-1: #1c394d;
$bg-2: #302a49;
$bg-color: #f6f6f6;

$hero-text-color: #e9f1f7;
$link-color: #1b998b;
$link-color-hover: #19d4bf;
$selection-color: #3d7fac88;
$font-color: #0b131d;
